<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="ru.job4j.**.web"/>

    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

    <!-- serve static resources (*.html, ...) from src/main/webapp/ -->
    <mvc:default-servlet-handler/>

    <!--  all resources inside folder src/main/webapp/resources are mapped so they can be referred to inside JSP files -->
    <mvc:resources mapping="/static/**" location="/resources/, /webjars/">
        <mvc:cache-control cache-public="true" max-age="2592000"/>
        <mvc:resource-chain resource-cache="true">
            <mvc:resolvers>
                <bean class="org.springframework.web.servlet.resource.WebJarsResourceResolver"/>
            </mvc:resolvers>
        </mvc:resource-chain>
    </mvc:resources>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <bean class="ru.job4j.auto.web.converter.JacksonObjectMapper" id="mapper"/>

    <!--  to retrieve images as multipart-data from request -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="maxUploadSize" value="5242880"/> <!--1024 * 1024 * 5 = 5 MB-->
        <property name="maxInMemorySize" value="1048576"/> <!--1024 * 1024 = 1 MB-->
        <property name="resolveLazily" value="true"/>
    </bean>

    <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id="conversionService">
        <property name="formatters">
            <set>
                <bean class="ru.job4j.auto.web.converter.DateFormatter"/>
            </set>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="mapper"/>
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <bean class="ru.job4j.auto.web.DataUrlInterceptor"/>
    </mvc:interceptors>

</beans>